/* Custom Styles */
body{
  background: #fffdf9;
}
p{
    font-size: 1.2em;
    text-align: center;
    line-height: 150%;
}
.quienes-texto {
  font-size: 1rem;
  line-height: 1.3;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6); /* fondo negro semitransparente */
    border-radius: 12px;
    padding: 1rem;
}
.carousel-caption h5,
.carousel-caption p {
    color: #fff; /* texto blanco */
    text-shadow: 1px 1px 2px #000; /* sombra para mejor contraste */
}
.card-title{
    font-size: 2em;
    text-align: center;
}
.card img {
    height: 30vh;
    object-fit: cover;
    width: 40%;
}
.carousel-inner img {
    height: 80vh;
    max-height: 1000px; /* Adjust this value as needed */
    object-fit: cover; /* Ensures the image doesn't stretch */
}
.contact-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    color: #198754; /* Bootstrap success */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
.social-floating {
  position: fixed;
  top: 180px; /* o ajusta según la altura de tu navbar */
  right: 1rem;
  z-index: 1050; /* más alto que el contenido */
}
.fb:hover {
    background-color: #3b5998; /* Un verde más oscuro */
    color: white;
  }
.in:hover {
    background-color: #9a1a1a; /* Un verde más oscuro */
    color: white;
  }
.wa:hover {
    background-color: #145c32; /* Un verde más oscuro */
    color: white;
  }
.btn-info {
    background-color: #801a9a;
    color:white;
    border-color: #330b3c;
}
.fade-in {
      opacity: 0;
      animation: fadeIn 1s ease-in forwards;
    }

@media (min-width: 768px) {
  .quienes-texto {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .LP img{
    width: 50%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
